/** @format */
.post {
  background-color: #fff;
  max-width: 500px;
  border: 1px solid lightgray;
  margin: 0 auto;
  margin-bottom: 45px;
  border-radius: 10px;
}
.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.post__text {
  font-weight: normal;
}
.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}
.post__avatar {
  margin-right: 10px;
}
.post__text {
  padding: 5px 20px;
}
.post__comments {
  padding-left: 20px;
  margin-bottom: 3px;
}
.post__comments {
  margin-bottom: 4px;
}
.post__comments:last-child {
  padding-bottom: 10px;
}
.post__comment {
  margin-right: 5px;
}
.post__commentBox {
  display: flex;
  margin-top: 10px;
  border-top: 1px solid lightgray;
}
.post__commentBox i {
  font-size: 23px;
  line-height: 50px;
  margin-left: 10px;
}
.post__input {
  flex: 1; /*자리를 최대한 많이 차지*/
  padding: 15px;
  border: none;
}
.post__button {
  width: 50px; /*자리를 최소한만 차지*/
  border: none;
  color: #0095f6;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
}
.post__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
  padding: 5px 20px;
}
i {
  cursor: pointer;
}
i:hover {
  color: #d2d2d2;
}
.icon__box i {
  margin-right: 15px;
}
